<div class="text-white min-h-screen bg-violet-700 mix-blend-multiply"
  style="background-image: url('/images/feature.png'); background-size: cover; background-position: center;">
  <div class="flex justify-center">
    <.live_component module={NiceWeb.Header} id="header"/>

  </div>
  <div>
    <h1 class="text-5xl font-extrabold pt-10 flex justify-center">We Create Something New</h1>
    <p class="flex justify-center pt-10">We have created a new product that will help designers,</p>
    <p class="flex justify-center"> developers and companies create websites for their startups quickly and easily.</p>
  </div>

</div>