
<div class="text-teal-50">
  <div class="flex justify-center">
<nav class="pt-20 text-xl">
  <.link class="pr-11">Home</.link>
  <.link class="pr-11">Features</.link>
  <.link class="pr-11">Pricing</.link>
  <.link class="pr-11">Blog</.link>
  <.link class="pr-11">O</.link>
  <.link>En</.link>
  
</nav>

</div>
<div>
  <p class="text-lg font-semibold pt-36 flex justify-center">Startup 3</p>
<h1 class="text-7xl font-extrabold pt-10 flex justify-center">Forget About Code</h1>
<p class="flex justify-center pt-10">Startup Framework gives you complete freedom over your creative process — </p>
<p class="flex justify-center">you don’t have to think about any technical aspects. There are no limits and absolutely no coding.</p>
</div>
</div>