<div class="min-h-screen bg-violet-700 mix-blend-multiply"
  style="background-image: url('/images/background.png'); background-size: cover; background-position: center;">
  <.live_component module={NiceWeb.Header} id="header"/>

  <div class="text-white">
    <p class="text-lg font-semibold pt-36 flex justify-center">Startup 3</p>
    <.live_component module={NiceWeb.ContentBanner} id="banner" current_banner={@current_banner}/>
  </div>
  <div class="p-32 flex justify-center">
  <.button class="bg-button">Create an Account</.button>
</div>
</div>