<header>

</header>
<main role="main" class="flex flex-col min-h-screen">
  <div class="min-h-screen bg-pink-200 mix-blend-multiply" style="background-image: url('/images/background.png'); background-size: cover; background-position: center;">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
