<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="flex flex-col gap-4">
    <a
      href="/calendar"
      class="bg-gray-900 text-white text-center py-6 px-12 text-xl font-bold rounded-lg hover:bg-gray-400 w-full "
    >
      Calendar
    </a>
    <a
      href="/dashboard"
      class="bg-gray-900 text-white text-center py-6 px-12 text-xl font-bold rounded-lg hover:bg-gray-400 w-full "
    >
      Dashboard
    </a>
    <a
      href="/form"
      class="bg-gray-900 text-white text-center py-6 px-12 text-xl font-bold rounded-lg hover:bg-gray-400 w-full "
    >
      Form
    </a>
  </div>
</div>
