<div class="flex">
  <!-- left menu -->
  <div
    class="h-full hidden tab:block lap:block font-poppins font-regular text-[16px] text-grey_text bg-grey_bg"
  >
    <p
      class="lap:w-[242px] tab:w-[90px] mt-10 mb-5 text-center font-poppins font-semibold tab:text-[20px] lap:text-[36px] text-black"
    >
      WeHR
    </p>
    <ul class="lap:w-[242px] tab:w-[90px]">
      <li
        class="font-roboto tab:justify-center font-medium-12 opacity-50 py-[10px] lap:pl-[30px] lap:text-left tab:text-center text-[12px] text-grey_text"
      >
        <p class="lap:w-[242px] tab:w-[90px] tab:justify-center">MAIN MENU</p>
      </li>
      <li class="flex items-center space-x-6 py-[16px] pl-[30px] text-left">
        <svg class="icon">
          <use xlink:href="/icons/defs/svg/sprite.css.svg#dashboard"></use>
        </svg>
        <p class="hidden lap:block text-button_orange">Dashboard</p>
      </li>
      <li class="flex items-center space-x-6 py-[16px] pl-[30px] text-left">
        <svg class="icon">
          <use xlink:href="/icons/defs/svg/sprite.css.svg#recruitment"></use>
        </svg>
        <p class="hidden lap:block">Recruitment</p>
      </li>
      <li class="flex items-center space-x-6 py-[16px] pl-[30px] text-left">
        <svg class="icon">
          <use xlink:href="/icons/defs/svg/sprite.css.svg#schedule"></use>
        </svg>
        <p class="hidden lap:block">Schedule</p>
      </li>
      <li class="flex items-center space-x-6 py-[16px] pl-[30px] text-left">
        <svg class="icon">
          <use xlink:href="/icons/defs/svg/sprite.css.svg#employee"></use>
        </svg>
        <p class="hidden lap:block">Employee</p>
      </li>
      <li class="flex items-center space-x-6 py-[16px] pl-[30px] text-left">
        <svg class="icon">
          <use xlink:href="/icons/defs/svg/sprite.css.svg#department"></use>
        </svg>
        <p class="hidden lap:block">Department</p>
      </li>
    </ul>
    <ul class="lap:w-[242px] tab:w-[90px]">
      <li
        class="font-roboto font-medium-12 opacity-50 py-[10px] lap:pl-[30px] lap:text-left tab:text-center text-[12px] text-grey_text"
      >
        <p class="lap:w-[242px] tab:w-[90px]">OTHER</p>
      </li>
      <li class="flex items-center space-x-6 py-[16px] pl-[30px] text-left">
        <svg class="icon">
          <use xlink:href="/icons/defs/svg/sprite.css.svg#support"></use>
        </svg>
        <p class="hidden lap:block">Support</p>
      </li>
      <li class="flex items-center space-x-6 py-[16px] pl-[30px] text-left">
        <svg class="icon">
          <use xlink:href="/icons/defs/svg/sprite.css.svg#settings"></use>
        </svg>
        <p class="hidden lap:block">Settings</p>
      </li>
    </ul>
  </div>

  <!-- right part-->
  <div class="w-full">
    <!-- header-->
    <div
      class="w-full border ph:h-[60px] tab:h-[62px] lap:h-[91px] ph:px-[20px] tab:px-[50px] py-[17.5px] flex justify-between items-center"
    >
      <div class="flex ph:space-x-4 tab:space-x-4 lap:space-x-0 items-center">
        <svg class="icon lap:hidden">
          <use xlink:href="/icons/defs/svg/sprite.css.svg#menu"></use>
        </svg>

        <div
          class="flex justify-between items-center lap:h-[44px] tab:h-[36px] lap:w-[343px] tab:w-[245px] font-poppins font-regular text-4 tab:border lap:border tab:py-[10px] tab:px-4 lap:py-[10px] lap:px-4 text-[#B3B3B3] tab:bg-[#FAFAFA] lap:bg-[#FAFAFA] rounded"
        >
          <p class="hidden tab:block lap:block">Search</p>
          <svg class="icon">
            <use xlink:href="/icons/defs/svg/sprite.css.svg#search"></use>
          </svg>
        </div>
      </div>

      <div
        class="ph:w-[146px] ph:h-[42px] tab:w-[223px] tab:h-[61px] lap:w-[364px] lap:h-[90px] ph:space-x-4 tab:space-x-[30px] justify-end text-white flex items-center"
      >
        <svg class="icon">
          <use xlink:href="/icons/defs/svg/sprite.css.svg#notifications"></use>
        </svg>

        <svg class="icon">
          <use xlink:href="/icons/defs/svg/sprite.css.svg#messages"></use>
        </svg>

        <div
          class="flex items-center ph:space-x-[6px] tab:space-x-[12px] ph:w-[66px] h-[42px] tab:w-[68px] lap:w-[193px]"
        >
          <img src="/images/photo.png" class="size-9 lap:size-[42px]" />

          <div class="flex items-center">
            <p
              class="hidden lap:block text-deftext font-poppins font-medium text-[16px]"
            >
              Admirra John
            </p>
            <svg class="icon">
              <use xlink:href="/icons/defs/svg/sprite.css.svg#arrow_down"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="ph:px-5 tab:px-14 text-deftext">
      <div class="grid py-[10px] h-[62px] space-y-5">
        <!-- 1 -->
        <div
          class="flex items-center font-poppins text-left text-[20px] font-medium py-3 rounded -mb-5"
        >
          Dashboard
        </div>
        <!-- two cols -->
        <div
          class="grid tab:grid-cols-1 ph:grid-cols-1 lap:grid-cols-[60%,40%] lap:space-x-4 ph:space-y-5 tab:space-y-5 lap:space-y-0"
        >
          <div class="flex flex-col space-y-5">
            <div class="grid grid-cols-1">
              <div
                class="grid ph:grid-cols-1 tab:grid-cols-3 lap:grid-cols-3 tab:space-x-4 lap:space-x-4 ph:space-y-5 tab:space-y-0 lap:space-y-0"
              >
                <!-- 2 -->
                <div
                  class="bg-[#FFEFE7] pl-5 pr-3 border text-left rounded-xl flex flex-col justify-center break-words"
                >
                  <p class="font-medium font-poppins mt-3">
                    Available Position
                  </p>
                  <p
                    class="flex items-center font-medium font-poppins text-[32px] my-4"
                  >
                    24
                  </p>
                  <p class="text-button_orange font-roboto mb-3">
                    4 Urgently needed
                  </p>
                </div>

                <!-- 3 -->
                <div
                  class="bg-[#E8F0FB] pl-5 pr-3 border text-left rounded-xl flex flex-col justify-center break-words"
                >
                  <p class="font-medium font-poppins mt-3">Job Open</p>
                  <p
                    class="flex items-center font-medium font-poppins text-[32px] my-4"
                  >
                    10
                  </p>
                  <p class="text-[#3786F1] font-roboto mb-3">4 Active hiring</p>
                </div>

                <!-- 4 -->
                <div
                  class="bg-[#FDEBF9] ph:pl-5 ph:pr-3 border text-left rounded-xl flex flex-col justify-center break-words"
                >
                  <p class="font-medium font-poppins mt-3">New Employees</p>
                  <p
                    class="flex items-center font-medium font-poppins text-[32px] my-4"
                  >
                    24
                  </p>
                  <p class="text-[#EE61CF] font-roboto mb-3">4 Department</p>
                </div>
              </div>
            </div>

            <div
              class="grid ph:grid-cols-1 tab:grid-cols-2 lap:grid-cols-2 ph:space-x-0 tab:space-x-3 lap:space-x-3 ph:space-y-5 tab:space-y-0 lap:space-y-0"
            >
              <!--  5 -->
              <div
                class="px-5 flex justify-between border items-center text-left rounded-xl"
              >
                <div class="flex flex-col items-left space-y-8">
                  <div class="flex flex-col items-left pt-5 space-y-[22px]">
                    <div class="font-poppins font-medium text-4">
                      Total Employees
                    </div>
                    <div
                      class="flex items-center font-poppins font-medium text-[42px] h-7"
                    >
                      216
                    </div>
                  </div>
                  <div
                    class="font-roboto font-regular text-[12px] text-grey_text pb-5 space-y-1"
                  >
                    <div class="h-[18px]">120 Men</div>
                    <div class="h-[18px]">96 Women</div>
                  </div>
                </div>

                <div class="flex flex-col space-y-5">
                  <div class="flex-col justify-center">
                    <img
                      src="/images/two_percents_graph.png"
                      class="text-center w-[115px] h-[78x]"
                    />
                  </div>
                  <div
                    class="font-roboto font-regular text-[#303030] flex items-center justify-center text-[12px] bg-[#FFEFE7] h-6"
                  >
                    +2% Past month
                  </div>
                </div>
              </div>

              <!--  6 -->
              <div
                class="px-5 flex justify-between border items-center text-left rounded-xl"
              >
                <div class="flex flex-col items-left space-y-8">
                  <div class="flex flex-col items-left pt-5 space-y-[22px]">
                    <div class="font-poppins font-medium text-4">
                      Talent Request
                    </div>
                    <div
                      class="flex items-center font-poppins font-medium text-[42px] h-7"
                    >
                      16
                    </div>
                  </div>
                  <div
                    class="font-roboto font-regular text-[12px] text-grey_text pb-5 space-y-1"
                  >
                    <div class="h-[18px]">6 Men</div>
                    <div class="h-[18px]">10 Women</div>
                  </div>
                </div>

                <div class="flex flex-col space-y-5">
                  <div class="flex-col justify-center">
                    <img
                      src="/images/five_percents_graph.png"
                      class="text-center w-[115px] h-[78x]"
                    />
                  </div>
                  <div
                    class="font-roboto font-regular text-[#303030] flex items-center justify-center text-[12px] bg-[#FFEFE7] h-6"
                  >
                    +5% Past month
                  </div>
                </div>
              </div>
            </div>

            <!--  7 -->
            <div class="overflow-hidden text-center border rounded-xl">
              <div class="flex justify-between items-center p-5">
                <div class="font-poppins font-medium text-[16px]">
                  Announcement
                </div>
                <div
                  class="border rounded flex items-center justify-center h-[22px] p-[6px] font-roboto font-regular ph:text-[10px] tab:text-[12px] text-grey_text"
                >
                  <p class="">Today, 13 Sep 2021</p>
                  <svg class="icon">
                    <use
                      xlink:href="/icons/defs/svg/sprite.css.svg#arrow_down"
                    ></use>
                  </svg>
                </div>
              </div>
              <div class="px-5">
                <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
                  <p
                    class="flex justify-left font-poppins font-regular text-[14px] text-second_title"
                  >
                    Outing schedule for every departement
                  </p>
                  <div class="flex justify-between items-center">
                    <p
                      class="font-roboto font-regular text-[10px] text-grey_text"
                    >
                      5 minutes ago
                    </p>
                    <div class="flex justify-between space-x-2">
                      <svg class="icon">
                        <use
                          xlink:href="/icons/defs/svg/sprite.css.svg#pin"
                        ></use>
                      </svg>
                      <svg class="icon">
                        <use
                          xlink:href="/icons/defs/svg/sprite.css.svg#three_dots"
                        ></use>
                      </svg>
                    </div>
                  </div>
                </div>

                <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
                  <p
                    class="flex justify-left font-poppins font-regular text-[14px] text-second_title"
                  >
                    Meeting HR Departement
                  </p>
                  <div class="flex justify-between items-center">
                    <p
                      class="font-roboto font-regular text-[10px] text-grey_text"
                    >
                      Yesterday, 12:30 PM
                    </p>
                    <div class="flex justify-between space-x-2">
                      <svg class="icon text-grey_pin">
                        <use
                          xlink:href="/icons/defs/svg/sprite.css.svg#pin"
                        ></use>
                      </svg>
                      <svg class="icon">
                        <use
                          xlink:href="/icons/defs/svg/sprite.css.svg#three_dots"
                        ></use>
                      </svg>
                    </div>
                  </div>
                </div>

                <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
                  <p
                    class="text-left font-poppins font-regular text-[14px] text-second_title"
                  >
                    IT Department need two more talents for UX/UI Designer
                    position
                  </p>
                  <div class="flex justify-between items-center">
                    <p
                      class="font-roboto font-regular text-[10px] text-grey_text"
                    >
                      Yesterday, 09:15 AM
                    </p>
                    <div class="flex justify-between space-x-2">
                      <svg class="icon text-grey_pin">
                        <use
                          xlink:href="/icons/defs/svg/sprite.css.svg#pin"
                        ></use>
                      </svg>
                      <svg class="icon">
                        <use
                          xlink:href="/icons/defs/svg/sprite.css.svg#three_dots"
                        ></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <button
                class="border w-full font-poppins font-medium text-[14px] text-button_orange p-[10px] flex justify-center"
              >
                <p class="m-0 h-5">See All Announcements</p>
              </button>
            </div>
          </div>

          <div
            class="grid ph:grid-cols-1 tab:grid-cols-[40%,60%] lap:grid-cols-1 ph:space-y-5 tab:space-y-0 lap:space-y-5 tab:space-x-5 lap:space-x-0 ph:pb-10 tab:pb-16 lap:pb-10"
          >
            <!--  8 -->
            <div class="text-center border bg-blue_back rounded-xl tab:w-[1/5]">
              <div class="flex justify-between items-center p-5">
                <div class="font-poppins font-medium text-[16px] text-white">
                  Recently activity
                </div>
              </div>
              <div class="p-5 space-y-[7px]">
                <div class="rounded-md mb-2">
                  <p
                    class="text-left font-roboto font-medium text-[10px] opacity-60 text-white"
                  >
                    10.40 AM, Fri 10 Sept 2021
                  </p>
                </div>

                <div class="rounded-md mb-2">
                  <p
                    class="flex justify-left font-poppins font-medium text-[16px] text-white"
                  >
                    You Posted a New Job
                  </p>
                </div>

                <div class="rounded-md py-2">
                  <p
                    class="text-left font-roboto opacity-80 font-regular text-white text-[14px]"
                  >
                    Kindly check the requirements and terms of work and make
                    sure everything is right.
                  </p>
                </div>
              </div>

              <div
                class="lap:flex lap:items-center px-5 lap:justify-between ph:space-y-[18px] lap:space-y-0 pb-8"
              >
                <p
                  class="text-left font-roboto lap:font-poppins font-regular text-white text-[14px]"
                >
                  Today you makes 12 Activity
                </p>
                <button
                  class="flex items-center justify-center py-[10px] px-5 lap:px-0 w-[146px] lap:w-[139px] h-[38px] bg-button_orange rounded"
                >
                  <p
                    class="text-center text-white font-poppins font-medium text-[14px]"
                  >
                    See All Activity
                  </p>
                </button>
              </div>
            </div>

            <!--  9 -->
            <div class="text-center border rounded-xl">
              <div class="flex justify-between items-center p-5">
                <div class="font-poppins font-medium text-[16px] text-left">
                  Upcoming schedule
                </div>
                <div
                  class="border rounded flex items-center justify-center min-h-[22px] px-[6px] font-roboto font-regular ph:text-[10px] tab:text-[12px] text-grey_text"
                >
                  <p class="mx-[2px]">Today, 13 Sep 2021</p>
                  <svg class="icon">
                    <use
                      xlink:href="/icons/defs/svg/sprite.css.svg#arrow_down"
                    ></use>
                  </svg>
                </div>
              </div>
              <div class="px-5">
                <p
                  class="flex items-center text-left font-poppins font-regular text-[12px] h-7 text-grey_text"
                >
                  Priority
                </p>
                <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
                  <p
                    class="flex justify-left font-poppins font-regular text-[14px] text-second_title text-left"
                  >
                    Review candidate applications
                  </p>
                  <div class="flex justify-between items-center">
                    <p
                      class="font-roboto font-regular text-[10px] text-grey_text"
                    >
                      5 minutes ago
                    </p>
                    <div class="flex justify-between space-x-2">
                      <svg class="icon">
                        <use
                          xlink:href="/icons/defs/svg/sprite.css.svg#three_dots"
                        ></use>
                      </svg>
                    </div>
                  </div>
                </div>

                <p
                  class="flex items-center text-left font-poppins font-regular text-[12px] h-7 text-grey_text"
                >
                  Other
                </p>
                <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
                  <p
                    class="flex justify-left font-poppins font-regular text-[14px] text-second_title"
                  >
                    Interview with candidates
                  </p>
                  <div class="flex justify-between items-center">
                    <p
                      class="font-roboto font-regular text-[10px] text-grey_text"
                    >
                      Today - 10.30 AM
                    </p>
                    <div class="flex justify-between space-x-2">
                      <svg class="icon">
                        <use
                          xlink:href="/icons/defs/svg/sprite.css.svg#three_dots"
                        ></use>
                      </svg>
                    </div>
                  </div>
                </div>

                <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
                  <p
                    class="text-left font-poppins font-regular text-[14px] text-second_title"
                  >
                    Short meeting with product designer from IT Departement
                  </p>
                  <div class="flex justify-between items-center">
                    <p
                      class="font-roboto font-regular text-[10px] text-grey_text"
                    >
                      Today - 09.15 AM
                    </p>
                    <div class="flex justify-between space-x-2">
                      <svg class="icon">
                        <use
                          xlink:href="/icons/defs/svg/sprite.css.svg#three_dots"
                        ></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <button
                class="border w-full font-poppins font-medium text-[14px] text-button_orange p-[10px] rounded-b-[10px]"
              >
                <p class="h-5">Create a new schedule</p>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
