<div
  class="w-full border h-[60px] px-[20px] py-[17.5px] flex justify-between items-center"
>
  <div class="flex space-x-4">
    <img src="/icons/menu.svg" />

    <img src="/icons/search.svg" />
  </div>

  <div
    class="w-[146px] h-[42px] space-x-4 text-white flex justify-center items-center"
  >
    <img src="/icons/notifications.svg" />

    <img src="/icons/messages.svg" />

    <div class="flex items-center space-x-[6px] w-[66px] h-[42px]">
      <img src="/images/photo.png" class="size-9" />

      <img src="/icons/arrow_down.svg" />
    </div>
  </div>
</div>

<div class="px-5 text-deftext">
  <div class="grid py-[10px] h-[62px] space-y-5">
    <!-- 1 -->
    <div
      class="flex items-center font-poppins text-left text-[20px] font-medium py-3 rounded -mb-5"
    >
      Dashboard
    </div>

    <!-- 2-->
    <div class="bg-[#FFEFE7] px-5 border text-left rounded-xl">
      <p class="font-medium font-poppins h-6 mt-3">Available Position</p>
      <p
        class="flex items-center font-medium font-poppins text-[32px] h-[28px] my-4"
      >
        24
      </p>
      <p class="text-button_orange font-roboto h-6 mb-3">4 Urgently needed</p>
    </div>

    <!--  3 -->
    <div class="bg-[#E8F0FB] px-5 border text-left rounded-xl">
      <p class="font-medium font-poppins h-6 mt-3">Job Open</p>
      <p
        class="flex items-center font-medium font-poppins text-[32px] h-[28px] my-4"
      >
        10
      </p>
      <p class="text-[#3786F1] font-roboto h-6 mb-3">4 Active hiring</p>
    </div>

    <!--  4 -->
    <div class="bg-[#FDEBF9] px-5 border text-left rounded-xl">
      <p class="font-medium font-poppins h-6 mt-3">New Employees</p>
      <p
        class="flex items-center font-medium font-poppins text-[32px] h-[28px] my-4"
      >
        24
      </p>
      <p class="text-[#EE61CF] font-roboto h-6 mb-3">4 Department</p>
    </div>

    <!--  5 -->
    <div
      class="px-5 flex justify-between border items-center text-left rounded-xl"
    >
      <div class="flex flex-col items-left space-y-8">
        <div class="flex flex-col items-left pt-5 space-y-[22px]">
          <div class="font-poppins font-medium text-4">Total Employees</div>
          <div
            class="flex items-center font-poppins font-medium text-[42px] h-7"
          >
            216
          </div>
        </div>
        <div
          class="font-roboto font-regular text-[12px] text-grey_text pb-5 space-y-1"
        >
          <div class="h-[18px]">120 Men</div>
          <div class="h-[18px]">96 Women</div>
        </div>
      </div>

      <div class="flex flex-col space-y-5">
        <div class="flex-col justify-center">
          <img
            src="/images/two_percents_graph.png"
            class="text-center w-[115px] h-[78x]"
          />
        </div>
        <div
          class="font-roboto font-regular text-[#303030] flex items-center justify-center text-[12px] bg-[#FFEFE7] h-6"
        >
          +2% Past month
        </div>
      </div>
    </div>

    <!--  6 -->
    <div
      class="px-5 flex justify-between border items-center text-left rounded-xl"
    >
      <div class="flex flex-col items-left space-y-8">
        <div class="flex flex-col items-left pt-5 space-y-[22px]">
          <div class="font-poppins font-medium text-4">Talent Request</div>
          <div
            class="flex items-center font-poppins font-medium text-[42px] h-7"
          >
            16
          </div>
        </div>
        <div
          class="font-roboto font-regular text-[12px] text-grey_text pb-5 space-y-1"
        >
          <div class="h-[18px]">6 Men</div>
          <div class="h-[18px]">10 Women</div>
        </div>
      </div>

      <div class="flex flex-col space-y-5">
        <div class="flex-col justify-center">
          <img
            src="/images/five_percents_graph.png"
            class="text-center w-[115px] h-[78x]"
          />
        </div>
        <div
          class="font-roboto font-regular text-[#303030] flex items-center justify-center text-[12px] bg-[#FFEFE7] h-6"
        >
          +5% Past month
        </div>
      </div>
    </div>

    <!--  7 -->
    <div class="text-center border rounded-xl">
      <div class="flex justify-between items-center p-5">
        <div class="font-poppins font-medium text-[16px]">Announcement</div>
        <div
          class="border rounded flex items-center justify-center h-[22px] p-[6px] font-roboto font-regular text-[10px] text-grey_text"
        >
          <p class="">Today, 13 Sep 2021</p>
          <img src="/icons/arrow_down.svg" />
        </div>
      </div>
      <div class="px-5">
        <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
          <p
            class="flex justify-left font-poppins font-regular text-[14px] text-second_title"
          >
            Outing schedule for every departement
          </p>
          <div class="flex justify-between items-center">
            <p class="font-roboto font-regular text-[10px] text-grey_text">
              5 minutes ago
            </p>
            <div class="flex justify-between space-x-2">
              <img src="/icons/pin.svg" />
              <img src="/icons/three_dots.svg" />
            </div>
          </div>
        </div>

        <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
          <p
            class="flex justify-left font-poppins font-regular text-[14px] text-second_title"
          >
            Meeting HR Departement
          </p>
          <div class="flex justify-between items-center">
            <p class="font-roboto font-regular text-[10px] text-grey_text">
              Yesterday, 12:30 PM
            </p>
            <div class="flex justify-between space-x-2">
              <img src="/icons/pin.svg" />
              <img src="/icons/three_dots.svg" />
            </div>
          </div>
        </div>

        <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
          <p
            class="text-left font-poppins font-regular text-[14px] text-second_title"
          >
            IT Department need two more talents for UX/UI Designer position
          </p>
          <div class="flex justify-between items-center">
            <p class="font-roboto font-regular text-[10px] text-grey_text">
              Yesterday, 09:15 AM
            </p>
            <div class="flex justify-between space-x-2">
              <img src="/icons/pin.svg" />
              <img src="/icons/three_dots.svg" />
            </div>
          </div>
        </div>
      </div>

      <div
        class="border font-poppins font-medium text-[14px] text-button_orange p-[10px]"
      >
        <p class="h-5">See All Anouncement</p>
      </div>
    </div>

    <!--  8 -->
    <div class="text-center border bg-blue_back rounded-xl">
      <div class="flex justify-between items-center p-5">
        <div class="font-poppins font-medium text-[16px] text-white">
          Recently activity
        </div>
      </div>
      <div class="p-5 space-y-[7px]">
        <div class="rounded-md mb-2">
          <p
            class="text-left font-roboto font-medium text-[10px] opacity-60 text-white"
          >
            10.40 AM, Fri 10 Sept 2021
          </p>
        </div>

        <div class="rounded-md mb-2">
          <p
            class="flex justify-left font-poppins font-medium text-[16px] text-white"
          >
            You Posted a New Job
          </p>
        </div>

        <div class="rounded-md py-2">
          <p
            class="text-left font-roboto opacity-80 font-regular text-white text-[14px]"
          >
            Kindly check the requirements and terms of work and make sure
            everything is right.
          </p>
        </div>
      </div>

      <div class="px-5 space-y-[18px] pb-8">
        <p class="text-left font-roboto font-regular text-white text-[14px]">
          Today you makes 12 Activity
        </p>
        <div class="flex items-center py-[10px] px-5 w-[146px] h-[38px] bg-button_orange rounded">
          <p class="text-left text-white font-poppins font-medium text-[14px]">See All Activity</p>
        </div>
      </div>
    </div>

    <!--  9 -->
    <div class="text-center border rounded-xl">
      <div class="flex justify-between items-center p-5">
        <div class="font-poppins font-medium text-[16px]">
          Upcoming schedule
        </div>
        <div
          class="border rounded flex items-center justify-center h-[22px] p-[6px] font-roboto font-regular text-[10px] text-grey_text"
        >
          <p class="">Today, 13 Sep 2021</p>
          <img src="/icons/arrow_down.svg" />
        </div>
      </div>
      <div class="px-5">
        <p
          class="flex items-center text-left font-poppins font-regular text-[12px] h-7 text-grey_text"
        >
          Priority
        </p>
        <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
          <p
            class="flex justify-left font-poppins font-regular text-[14px] text-second_title"
          >
            Review candidate applications
          </p>
          <div class="flex justify-between items-center">
            <p class="font-roboto font-regular text-[10px] text-grey_text">
              5 minutes ago
            </p>
            <div class="flex justify-between space-x-2">
              <img src="/icons/pin.svg" />
              <img src="/icons/three_dots.svg" />
            </div>
          </div>
        </div>

        <p
          class="flex items-center text-left font-poppins font-regular text-[12px] h-7 text-grey_text"
        >
          Other
        </p>
        <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
          <p
            class="flex justify-left font-poppins font-regular text-[14px] text-second_title"
          >
            Interview with candidates
          </p>
          <div class="flex justify-between items-center">
            <p class="font-roboto font-regular text-[10px] text-grey_text">
              Today - 10.30 AM
            </p>
            <div class="flex justify-between space-x-2">
              <img src="/icons/pin.svg" />
              <img src="/icons/three_dots.svg" />
            </div>
          </div>
        </div>

        <div class="border rounded-md mb-2 px-3 py-2 bg-grey_bg">
          <p
            class="text-left font-poppins font-regular text-[14px] text-second_title"
          >
            Short meeting with product designer from IT Departement
          </p>
          <div class="flex justify-between items-center">
            <p class="font-roboto font-regular text-[10px] text-grey_text">
              Today - 09.15 AM
            </p>
            <div class="flex justify-between space-x-2">
              <img src="/icons/pin.svg" />
              <img src="/icons/three_dots.svg" />
            </div>
          </div>
        </div>
      </div>

      <div
        class="border font-poppins font-medium text-[14px] text-button_orange p-[10px]"
      >
        <p class="h-5">See All Anouncement</p>
      </div>
    </div>
  </div>
</div>
