<div class="bg-dashboard_background">
  <div class="divide-y divide-text-menu_text_secondary">
  <nav class="flex justify-between items-center text-menu_text_secondary">
    <div class="flex">
      <button class="p-5">        
        <svg class="size-6">
        <use href="/images/icons.svg#menu" />
      </svg>
     </button>
      <button>        
        <svg class="size-6">
        <use href="/images/icons.svg#search" />
      </svg>
      </button>
    </div>
    <div class="flex items-center">
      <button class="pr-4">
         <svg class="size-6">
        <use href="/images/icons.svg#chat" />
      </svg> </button>
      <button class="pr-4">
         <svg class="size-6">
        <use href="/images/icons.svg#notifications" />
      </svg> </button>
      <img src="https://via.placeholder.com/40" alt="Profile" class="w-9 h-9 rounded-full">
      <button class="p-5 pl-4">
         <svg class="size-6">
        <use href="/images/icons.svg#chevron" />
      </svg>
     </button>
    </div>
  </nav>
   <h1 class="h-15 text-4xl pt-7 pl-4">Dashboard</h1>
  </div>


<div class="grid grid-cols-1 gap-4 m-5 mb-4">

  <div class="bg-pink rounded-md p-3 pl-5">
    <h2 >Available Position</h2>
    <p >24</p>
    <p >4 Urgently needed</p>
  </div>

  <div class="bg-pink rounded-md p-3 pl-5">
    <h2 >Available Position</h2>
    <p >24</p>
    <p >4 Urgently needed</p>
  </div>

  <div class="bg-pink rounded-md p-3 pl-5">
    <h2 >Available Position</h2>
    <p >24</p>
    <p >4 Urgently needed</p>
  </div>

  <div class="bg-pink rounded-md p-3 pl-5">
    <h2 >Available Position</h2>
    <p >24</p>
    <p >4 Urgently needed</p>
  </div>
  
  <div class="bg-pink rounded-md p-3 pl-5">
    <h2 >Available Position</h2>
    <p >24</p>
    <p >4 Urgently needed</p>
  </div>
  </div>
</div>